<h1>Workouts</h1>

<%= link_to 'New Workout', workouts_path, method: :post, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.name %></td>
        <td><%= workout.date %></td>
        <td>
          <%= link_to 'Edit', edit_workout_path(workout), class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          <%= link_to 'Destroy', workout_path(workout), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
