<!DOCTYPE html>
<html>
<head>
  <title>Workout Tracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include Tailwind CSS -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <% if logged_in? %>
    <%= render(NavbarComponent.new(current_user)) %>
  <% else %>
    <p>You are not logged in</p>
  <% end %>

  <%= yield %>
</body>
</html>
