<!DOCTYPE html>
<html>
<head>
  <title>Workout Tracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <% if logged_in? %>
    <%= render(NavbarComponent.new(current_user)) %>
  <% else %>
    <p>You are not logged in</p>
  <% end %>

  <%= yield %>
</body>
</html>
